/**
 * common は WWA Wing で共通で利用できるクラス名や mixin が含まれています。
 * UI 構築の際はこれらのセレクターもご活用ください。
 */
$wwa_wide_cell_height: 35px !default;
$wwa_wide_cell_font_size: 14px !default;

$wwa_icon_width: 40px !default;

%wide_cell {
    width: 120px;
    height: $wwa_wide_cell_height;
    line-height: $wwa_wide_cell_height;
    font-size: $wwa_wide_cell_font_size;
}

%item_cell {
    position: absolute;
    width: 40px;
    height: 40px;
}

%button_cell_onpress {
    $border_size: 3px;

    margin: $border_size 0 0 $border_size;
}
