.wwa-size-box {
    width: 560px;
    height: 440px;
    font-size: 16px;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
    line-height: 1.2;
    text-indent: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}

#wwa-controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 440px;
    height: 440px;
    padding: 0;
    margin: 0;
}

#wwa-audio-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 440px;
    height: 440px;
    overflow: hidden;
}
