div#wwa-sidebar {
  position: absolute;
  top: 0px;
  left: 440px;
  width: 120px;
  height: 440px;
  background-color: #000000;
}


div#wwa-sidebar {
  > div.wide-cell-row {
    position: absolute;
    padding: 10px 0 0 0;
    margin: 0px;
    border: 0px;
    width: 120px;
    height: 25px;
    font-size: 14px;
  }
  > div.wide-cell-row.onpress/*, div#wwa-sidebar>div.wide-cell-row:hover*/ {
    position: absolute;
    padding: 10px 0 0 0;
    margin: 0px;
    border-width: 3px 0 0 3px;
    border-style: solid;
    border-color : #000000;
    width: 117px;
    height: 22px;
  }
   > div.item-cell  {
    position: absolute;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 40px;
    height:40px;
  }
  > div.item-cell.onpress/*, div#wwa-sidebar>div.item-cell:hover */  {
    position: absolute;
    padding: 0px;
    margin: 0px;
    border-width: 3px 0 0 3px;
    border-color: #000000;
    border-style: solid;
    width: 37px;
    height:37px;
  }
}

#disp-energy {
  top: 0px;
  left: 0px;
}

#disp-strength {
  top: 35px;
  left: 0px;
}

#disp-defence {
  top: 70px;
  left: 0px;
}

#disp-gold {
  top: 105px;
  left: 0px;
}

#item0 {
  top: 140px;
  left: 0px;
}

#item1 {
  top: 140px;
  left: 40px;
}

#item2 {
  top: 140px;
  left: 80px;
}

#item3 {
  top: 180px;
  left: 0px;
}

#item4 {
  top: 180px;
  left: 40px;
}

#item5 {
  top: 180px;
  left: 80px;
}

#item6 {
  top: 220px;
  left: 0px;
}

#item7 {
  top: 220px;
  left: 40px;
}

#item8 {
  top: 220px;
  left: 80px;
}

#item9 {
  top: 260px;
  left: 0px;
}

#item10 {
  top: 260px;
  left: 40px;
}

#item11 {
  top: 260px;
  left: 80px;
}

#cell-load {
  top: 300px;
  left: 0px;
}

#cell-save {
  top: 335px;
  left: 0px;
}

#cell-restart {
  top: 370px;
  left: 0px;
}

#cell-gotowwa {
  top: 405px;
  left: 0px;
}

div.status-icon {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

div.status-value-box {
  position: absolute;
  top: 0px;
  left: 46px;
  width: 74px;
  height: 25px;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  text-align: center;
}

div.item-click-border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

div.item-disp {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

#wwa-controller {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 440px;
  padding: 0;
  margin: 0;
}

.wide-button {
  position: absolute;
  width: 120px;
  left: 0px;
  height: 40px;
  cursor: pointer;
}

#button-load {
  top: 300px;
}

#button-save {
  top: 335px;
}

#button-restart {
  top: 370px;
}

#button-gotowwa {
  top: 405px;
}
