$status: (
  energy: 0,
  strength: 1,
  defence: 2,
  gold: 3
);

$menu_buttons: (
  load: 0,
  save: 1,
  restart: 2,
  gotowwa: 3
);

div#wwa-sidebar {
  position: absolute;
  top: 0px;
  left: 440px;
  width: 120px;
  height: 440px;
  background-color: #000000;
}


div#wwa-sidebar {
  > div.wide-cell-row {
    position: absolute;
    padding: 10px 0 0 0;
    margin: 0px;
    border: 0px;
    width: 120px;
    height: 25px;
    font-size: 14px;
  }
  > div.wide-cell-row.onpress/*, div#wwa-sidebar>div.wide-cell-row:hover*/ {
    position: absolute;
    padding: 10px 0 0 0;
    margin: 0px;
    border-width: 3px 0 0 3px;
    border-style: solid;
    border-color : #000000;
    width: 117px;
    height: 22px;
  }
   > div.item-cell  {
    position: absolute;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 40px;
    height:40px;
  }
  > div.item-cell.onpress/*, div#wwa-sidebar>div.item-cell:hover */  {
    position: absolute;
    padding: 0px;
    margin: 0px;
    border-width: 3px 0 0 3px;
    border-color: #000000;
    border-style: solid;
    width: 37px;
    height:37px;
  }
}

div.status-icon {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

div.status-value-box {
  position: absolute;
  top: 0px;
  left: 46px;
  width: 74px;
  height: 25px;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  text-align: center;
}

div.item-click-border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

div.item-disp {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

#wwa-controller {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 440px;
  padding: 0;
  margin: 0;
}

.wide-button {
  position: absolute;
  width: 120px;
  left: 0px;
  height: 40px;
  cursor: pointer;
}


@each $status_name, $row in $status {
  #disp-#{$status_name} {
    top: $row * 35px;
    left: 0px;
  }
}

@for $row from 0 to 4 {
  @for $column from 0 to 3 {
    #item#{$row * 3 + $column} {
      top: 140px + ($row * 40px);
      left: $column * 40px;
    }
  }
}

@each $button_name, $row in $menu_buttons {
  #cell-#{$button_name} {
    top: 300px + ($row * 35px);
    left: 0px;
  }
  #button-#{$button_name} {
    top: 300px + ($row * 35px);
    left: 0px;
  }
}
