@use 'common';
@use 'main';

$wwa_status_x_offset: 6px !default;


@mixin wide_cell_absolute() {
    @include common.wide_cell();
    position: absolute;
}

div#wwa-sidebar {
    position: absolute;
    top: 0px;
    left: 440px;
    width: 120px;
    height: 440px;
    background-color: #000000;
    font-family: main.$sans-serif_font;

    > div.wide-cell-row {
        @include wide_cell_absolute();

        &.onpress /*, div#wwa-sidebar>div.wide-cell-row:hover*/ {
            @include common.button_cell_onpress();
        }
    }
    > div.item-cell {
        @include common.item_cell();
        &.onpress /*, div#wwa-sidebar>div.item-cell:hover */ {
            @include common.button_cell_onpress();
        }
    }
}

div.status-icon {
    width: common.$wwa_icon_width;
    height: common.$wwa_wide_cell_height;
    margin-left: $wwa_status_x_offset;
}

div.status-value-box {
    @include wide_cell_absolute();
    top: 0;
    left: 0;
    padding-left: $wwa_status_x_offset + common.$wwa_icon_width;
    box-sizing: border-box;
    text-align: center;
}

div.item-click-border {
    @include common.item_cell();
    top: 0;
    left: 0;
}

div.item-disp {
    @include common.item_cell();
    top: 0;
    left: 0;
}

.item-overwritten {
    width: 40px;
    height: 40px;
    z-index: 0!important;
}

.item-transitioning {
    z-index: 240!important;
}

.wide-button {
    @include wide_cell_absolute();
    cursor: pointer;
}


// ここより位置設定 //
$status: "energy", "strength", "defence", "gold";
$menu_buttons: "load", "save", "restart", "gotowwa";

$_y: 0;
@each $status_name in $status {
    #disp-#{$status_name} {
        top: $_y;
        left: 0px;
    }
    $_y: $_y + common.$wwa_wide_cell_height;
}

@for $row from 0 to 4 {
    @for $column from 0 to 3 {
        #item#{($row * 3) + $column} {
            top: $_y;
            left: $column * common.$wwa_icon_width;
        }
    }
    $_y: $_y + common.$wwa_icon_width;
}

@each $button_name in $menu_buttons {
    #cell-#{$button_name} {
        top: $_y;
        left: 0px;
    }
    #button-#{$button_name} {
        top: $_y;
        left: 0px;
    }
    $_y: $_y + common.$wwa_wide_cell_height;
}
