.wwa-vardump-wrapper {
  margin: 0 auto;
}

.wwa-vardump-wrapper>table {
  margin: 0 auto;
  text-align: center;
  width: 560px;
}

.wwa-vardump-wrapper>table th.varlist-header {
  background-color: orange;
}

.wwa-vardump-wrapper>table tr.var-number>th {
  background-color: #FFFF66;
}

.wwa-vardump-wrapper>table tr.var-val>td {
  background-color: #FFFFCC;
}

.wwa-vardump-wrapper>table th, .wwa-vardump-wrapper>table td {
  width: 3em;
}
