
.wwa-vardump-wrapper {
  --wwa-vardump-grid-column-num: 10;

  display: flex;
  flex-direction: column;
  align-items: center;

  > .user-variable-list-section {
    width: 560px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFCC88;

    & + .user-variable-list-section {
      margin-top: 16px;
    }

    &[data-kind="numbered"] > .user-variable-list {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }


    &[data-kind="named"] > .user-variable-list {
      display: flex;
      flex-wrap: wrap;
      > li > .user-variable-card {
        white-space: nowrap;
        max-width: 12em;
        > .index, > .value {
          width: 100%;
          overflow-x: auto;
          overflow-y: hidden;
          scrollbar-width: thin;
        }
      }
    }

    > header {
      margin: 8px;
      > .heading-area {
        display: flex;
        justify-content: space-between;
        > h2 {
          margin: 0;
          font-size: 1.4em;
        }
        > .content-visibility-toggle-button {
          cursor: pointer;
        }
      }
      > .information {
        margin: 8px 0 4px 0;
        padding: 4px;
        border-radius: 4px;;
        background-color: #FFFFCC;
        &[aria-hidden="true"] {
          display: none;
        }
      }
    }
    > .user-variable-list {
      &[aria-hidden="true"] {
        display: none;
      }
      margin: 0 8px 8px 8px;
      padding: 0;
      width: calc(100% - 16px);
      box-sizing: border-box;
      text-align: center;
      border-spacing: 1px;
      list-style: none;
      > li > .user-variable-card {
        margin: 1px;
        > .index {
          border-radius: 4px 4px 0 0;
          background-color: #FFFF66;
          position: relative;

          &[data-labelled-var-index="true"] {
            font-weight: bold;
            text-decoration: underline;
            background-color: #66FFFF;
            cursor: pointer;
          }
          > .user-variable-label {
            cursor: auto;
            position: absolute;
            top: 15px;
            left: 45px;
            display: block;
            width: max-content;
            background-color: #000000;
            color: #FFFFFF;
            z-index: 100;
            padding: 5px;
            &[aria-hidden="true"] {
              display: none;
            }
          }
        }
        .value {
          border-radius: 0 0 4px 4px;
          background-color: #FFFFCC;
        }
      }
    }
  }
}
