$virtual-buttons-size: 16vmin;
$virtual-buttons-move-size: 20vmin;
$virtualpad-margin: 6vmin;
$virtualpad-spacing: 1vmin;

// @media screen and (orientation: portrait) {
    
// }

%virtualpad_button {
    background-color: #c0c0c0;
    border: 0;
    color: #000;
    font-weight: 700;
    opacity: 0.75;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#wwa-virtualpad-left,
#wwa-virtualpad-right {
    bottom: $virtualpad-margin;
    position: fixed;
    pointer-events: none;
}

#wwa-virtualpad-left {
    left: 0;
    display: grid;
    grid-template:
        " up  right"
        "left down ";
    transform: rotate(45deg);
    gap: 4px;
    margin-left: $virtualpad-margin;
}

#wwa-virtualpad-right {
    right: 0;
    display: grid;
    grid-template:
        " .    fast  "
        " .    slow  "
        " .      .   " 20px
        " .  estimate"
        " .  estimate"
        " .    enter "
        "esc   enter "
        "esc     .   "
        " .      .   " $virtualpad-margin;
    gap: $virtualpad-spacing;
    margin-right: $virtualpad-margin;
}

.wwa-virtualpad__button {
    @extend %virtualpad_button;
    pointer-events: auto;
}

.wwa-virtualpad__button-text {
    transform: rotate(-45deg);
    touch-action: none;
}

#wwa-up-button,
#wwa-right-button,
#wwa-down-button,
#wwa-left-button,
#wwa-enter-button,
#wwa-esc-button,
#wwa-estimate-button {
    font-size: 35px;
}

#wwa-up-button,
#wwa-right-button,
#wwa-down-button,
#wwa-left-button {
    height: $virtual-buttons-move-size;
    width: $virtual-buttons-move-size;
}

#wwa-enter-button,
#wwa-esc-button,
#wwa-estimate-button {
    height: $virtual-buttons-size;
    width: $virtual-buttons-size;
}

#wwa-up-button {
    grid-area: up;
    border-radius: 100% 0 20% 0;
}

#wwa-right-button {
    grid-area: right;
    border-radius: 0 100% 0 20%;
}

#wwa-down-button {
    grid-area: down;
    border-radius: 20% 0 100% 0;
}

#wwa-left-button {
    grid-area: left;
    border-radius: 0 20% 0 100%;
}

#wwa-enter-button,
#wwa-esc-button,
#wwa-estimate-button {
    border-radius: 50%;
}

#wwa-enter-button {
    grid-area: enter;
}

#wwa-esc-button {
    grid-area: esc;
}

#wwa-estimate-button {
    grid-area: estimate;
}

#wwa-slow-button,
#wwa-fast-button {
    font-size: 25px;
    height: 50px;
    margin: 0 5px;
    width: $virtual-buttons-size;
    border-radius: 1rem;
}

#wwa-slow-button {
    grid-area: slow;
}

#wwa-fast-button {
    grid-area: fast;
}

.wwa-virtualpad__button--pressed {
    background-color: #808080;
}
