%virtualpad_button {
    background-color: #c0c0c0;
    border: 0;
    color: #000;
    font-weight: 700;
    opacity: 0.75;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#wwa-virtualpad-left,
#wwa-virtualpad-right {
    bottom: 0;
    position: fixed;
}

#wwa-virtualpad-left {
    left: 0;
    padding-left: env(safe-area-inset-left);
}

#wwa-virtualpad-right {
    right: 0;
    padding-right: env(safe-area-inset-right);
}

#wwa-virtualpad-left button,
#wwa-virtualpad-right button {
    @extend %virtualpad_button;
}

#wwa-virtualpad-left .virtualpad_move button,
#wwa-virtualpad-right .virtualpad_select button {
    font-size: 35px;
    height: 100px;
    width: 100px;
}

#wwa-virtualpad-left {
    .virtualpad_move button {
        border-radius: 1rem;
    }
}

#wwa-virtualpad-right {
    .virtualpad_select button {
        border-radius: 50%;
    }
    .virtualpad_speedcontrol button {
        font-size: 25px;
        height: 50px;
        margin: 0 5px;
        width: 90px;
    }
    #wwa-slow-button {
        border-radius: 1rem 0 0 1rem;
    }
    #wwa-fast-button {
        border-radius: 0 1rem 1rem 0;
    }
}

#wwa-virtualpad-left .virtualpad_move,
#wwa-virtualpad-right .virtualpad_select,
#wwa-virtualpad-right .virtualpad_speedcontrol {
    display: grid;
}

#wwa-virtualpad-left .virtualpad_move {
    grid-template-columns: repeat(3, 1fr);
}

#wwa-virtualpad-right .virtualpad_select,
#wwa-virtualpad-right .virtualpad_speedcontrol {
    grid-template-columns: repeat(2, 1fr);
}

#wwa-virtualpad-right .virtualpad_speedcontrol {
    margin-bottom: 16px;
}

#wwa-up-button {
    grid-column-start: 2;
    grid-row-start: 1;
}

#wwa-left-button,
#wwa-right-button {
    grid-row-start: 2;
}

#wwa-left-button {
    grid-column-start: 1;
}

#wwa-right-button {
    grid-column-start: 3;
}

#wwa-down-button {
    grid-column-start: 2;
    grid-row-start: 3;
}

#wwa-enter-button {
    grid-column-start: 2;
    grid-row-start: 3;
}

#wwa-esc-button {
    grid-column-start: 1;
    grid-row-start: 4;
}

#wwa-estimate-button {
    grid-column-start: 1;
    grid-row-start: 2;
}
