$virtual-buttons-size: 14vmin;
$virtualpad-spacing: 8vmin;

// @media screen and (orientation: portrait) {
    
// }

%virtualpad_button {
    background-color: #c0c0c0;
    border: 0;
    color: #000;
    font-weight: 700;
    opacity: 0.75;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#wwa-virtualpad-left,
#wwa-virtualpad-right {
    bottom: $virtualpad-spacing;
    position: fixed;
}

#wwa-virtualpad-left {
    left: 0;
    display: grid;
    grid-template:
        ".     up  .    "
        "left .    right"
        ".    down .    ";
    margin-left: $virtualpad-spacing;
}

#wwa-virtualpad-right {
    right: 0;
    display: grid;
    grid-template:
        "  slow   fast "
        "   .       .  " 20px
        "estimate   .  "
        "estimate   .  "
        "   .     enter"
        "  esc    enter"
        "  esc      .  "
        "   .       .  " $virtualpad-spacing;
    margin-right: $virtualpad-spacing;
}

.wwa-virtualpad__button {
    @extend %virtualpad_button;
}

#wwa-up-button,
#wwa-right-button,
#wwa-down-button,
#wwa-left-button,
#wwa-enter-button,
#wwa-esc-button,
#wwa-estimate-button {
    font-size: 35px;
    height: $virtual-buttons-size;
    width: $virtual-buttons-size;
}

#wwa-up-button,
#wwa-right-button,
#wwa-down-button,
#wwa-left-button {
    border-radius: 1rem;
}

#wwa-up-button {
    grid-area: up;
}

#wwa-right-button {
    grid-area: right;
}

#wwa-down-button {
    grid-area: down;
}

#wwa-left-button {
    grid-area: left;
}

#wwa-enter-button,
#wwa-esc-button,
#wwa-estimate-button {
    border-radius: 50%;
}

#wwa-enter-button {
    grid-area: enter;
}

#wwa-esc-button {
    grid-area: esc;
}

#wwa-estimate-button {
    grid-area: estimate;
}

#wwa-slow-button,
#wwa-fast-button {
    font-size: 25px;
    height: 50px;
    margin: 0 5px;
    width: $virtual-buttons-size;
}

#wwa-slow-button {
    grid-area: slow;
    border-radius: 1rem 0 0 1rem;
}

#wwa-fast-button {
    grid-area: fast;
    border-radius: 0 1rem 1rem 0;
}

.wwa-virtualpad__button--pressed {
    background-color: #808080;
}
