#wwa-battle-estimate, #wwa-password-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 10px;
/*    background-color: rgba( 255, 255, 255, 0.9 ); */ /*システムで指定することになりました。$colorで。*/
    cursor: pointer;
    overflow: auto;
}

#wwa-password-window {
    > div.wwa-password-description {
        text-align: left;
        font-size: 12px;
        padding: 5px;
    }
}

#wwa-password-window > textarea {
    font-size: 12px;
}

#wwa-battle-estimate > .est {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;

    > .est-img-wrapper {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 5px;
        float: left;
    }
    > .est-status-wrapper {
        height: 40px;
        padding: 0;
        margin: 5px;
        background-color: #FFFFFF;
        float: left;
        text-align: left;
        position: relative;

        > .est-energy {
            top: 0;
            left: 0;
        }
        > .est-strength {
            top: 0;
            left: 140px;
        }
        > .est-defence {
            top: 20px;
            left: 0;
        }
        > .est-damage{
            top: 20px;
            left: 140px;
            color: #FF0000;
        }
    }
    > .est-status-wrapper > div {
        width: 150px;
        overflow: hidden;
        font-size: 16px;
        position: absolute;
    } 
}
