$wwa_icon_width: 40px;

%wwa_window {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    margin: 20px;
    // background-color: rgba( 255, 255, 255, 0.9 ); // システムで指定することになりました。$colorで。
    border: 2px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: auto;
}

#wwa-password-window {
    @extend %wwa_window;
    font-size: 12px;

    > div.wwa-password-description {
        text-align: left;
        padding: 8px;
    }
    > textarea {
        font-size: inherit;
    }
    > div.wwa-password-submit {
        padding: 4px;
        box-sizing: border-box;

        button {
            display: inline;
            margin: 0 4px;
        }
    }
}

#wwa-battle-estimate {
    @extend %wwa_window;
    font-size: 16px;

    > .est {
        width: 100%;
        height: 50px;
        
        > .est-img-wrapper {
            width: $wwa_icon_width;
            height: $wwa_icon_width;
            margin: 5px;
            float: left;
        }
        > .est-status-wrapper {
            $item_width: 140px;
            $item_height: 20px;

            height: $wwa_icon_width;
            margin: 5px;
            float: left;
            text-align: left;
            position: relative;
    
            > div {
                width: $item_width;
                height: $item_height;
                line-height: $item_height;
                position: absolute;
            }
            > .est-energy {
                top: 0;
                left: 0;
            }
            > .est-strength {
                top: 0;
                left: $item_width;
            }
            > .est-defence {
                top: $item_height;
                left: 0;
            }
            > .est-damage{
                top: $item_height;
                left: $item_width;
                color: #FF0000;
                white-space: nowrap; // ダメージは桁数が多いので横幅から出てもいいようにする
            }
        }
        &:after {
            content: '';
            clear: left;
            display: block;
            height: 0;
            visibility: hidden;
        }
    }
}
