doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title World Wide Adventure Wing
    body
        #wrapper
            #wwa-wrapper.wwa-size-box
    
    footer#copyright
        p
            | Internet RPG &quot;
            a(href="http://www.wwajp.com").wwa-copyright
                |  World Wide Adventure Wing
            | &quot; &copy; 1996-2016 NAO

        p
            | &quot;
            a(href="http://wwawing.com").wwa-copyright
                |  World Wide Adventure Wing
            | &quot; &copy; 2013-2018 WWA Wing Team
